body{
    margin: 0;
    font-family: sans-serif;

}

.section{
    display: flex;
   
    padding: 10px;
}

.section img{
    height: 450px;
    margin-left: 400px;
    margin-top: 20px;
    margin-right: 50px;
}

.section h1{
    margin-top: 40px;
    font-size: 30px;
    margin-left: 60px;
}

.section p{
    margin-top: 50px;
    margin-left: 60px;
}
.btn-outline-dark{
    margin-left: 60px;
    margin-top: 50px;
}
.img{
    display: flex;
    height: 22px;
    gap: 50px;
    margin-left: 60px;
}
.p{
    justify-content: center;
}

